<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="AddressController" data-ng-init="findOne()">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="address.addrStr" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-8 text-left">
          <h3 translate>Address</h3> {{address.addrStr}}
          <span class="btn-copy" clip-copy="address.addrStr"></span>
      </div>
      <div class="col-md-4">
        <span class="txvalues txvalues-primary"><strong translate>Final Balance</strong> {{$root.currency.getConvertion(address.balance) || address.balance + ' SUM' }}</span>
      </div>
    </div>
    <div class="hide_snavbar">
      <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </a>
    </div>
  </div>
  <h1><span translate>Address</span> <small data-ng-show="address.addrStr">{{$root.currency.getConvertion(address.balance) || address.balance + ' SUM'}}</small></h1>
  <div class="text-muted" data-ng-if="!address.addrStr">
    <span translate>Loading Address Information</span> <span class="loader-gif"></span>
  </div>
  <div data-ng-if="address.addrStr">
    <div class="well well-sm ellipsis">
      <strong translate>Address</strong> 
      <span class="text-muted">{{address.addrStr}}</span>
      <span class="btn-copy" clip-copy="address.addrStr"></span>
    </div>
    <h2 translate>Summary <small>confirmed</small></h2>
    <div class="row" data-ng-hide="!address.addrStr">
      <div class="col-md-10">
        <table class="table">
          <tbody>
          <tr>
            <td><strong translate>Total Received</strong></td>
            <td class="ellipsis text-right">{{$root.currency.getConvertion(address.totalReceived) || address.totalReceived + ' SUM'}}</td>
          </tr>
          <tr>
            <td><strong translate>Total Sent</strong></td>
            <td class="ellipsis text-right">{{$root.currency.getConvertion(address.totalSent) || address.totalSent + ' SUM'}}</td>
          </tr>
          <tr>
            <td><strong translate>Final Balance</strong></td>
            <td class="ellipsis text-right">{{$root.currency.getConvertion(address.balance) || address.balance + ' SUM'}}</td>
          </tr>
          <tr>
            <td><strong translate>No. Transactions</strong></td>
            <td class="ellipsis text-right">{{address.txApperances}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2 text-center">
        <!-- SUMCOIN SOUND TOGGLE START -->
        <div
          id="sumcoin-payment-sound-control"
          style="
            margin:-58px auto 11px;
            text-align:center;
          ">

          <div
            style="
              color:#475467;
              font-size:12px;
              font-weight:600;
              line-height:1.25;
              margin-bottom:7px;
              white-space:normal;
            ">
            Want to hear your TX?
          </div>

          <div
            style="
              display:flex;
              align-items:center;
              justify-content:center;
              gap:7px;
            ">

            <button
              type="button"
              data-ng-click="togglePaymentSounds()"
              data-ng-attr-aria-pressed="{{paymentSoundsEnabled}}"
              aria-label="Toggle payment sounds"
              title="Hear a tone when payment arrives and when it confirms"
              data-ng-style="{
                'background-color':
                  paymentSoundsEnabled ?
                  '#1f6fd2' :
                  '#cbd5e1'
              }"
              style="
                position:relative;
                display:inline-block;
                width:52px;
                height:28px;
                padding:0;
                border:0;
                border-radius:999px;
                outline:none;
                cursor:pointer;
                transition:background-color .18s ease;
                box-shadow:inset 0 0 0 1px rgba(16,24,40,.08);
              ">

              <span
                data-ng-style="{
                  'left':
                    paymentSoundsEnabled ?
                    '27px' :
                    '3px'
                }"
                style="
                  position:absolute;
                  top:3px;
                  width:22px;
                  height:22px;
                  border-radius:50%;
                  background:#fff;
                  box-shadow:0 1px 4px rgba(16,24,40,.28);
                  transition:left .18s ease;
                ">
              </span>

            </button>

            <span
              data-ng-bind="
                paymentSoundsEnabled ?
                'ON' :
                'OFF'
              "
              data-ng-style="{
                'color':
                  paymentSoundsEnabled ?
                  '#1559ad' :
                  '#98a2b3'
              }"
              style="
                display:inline-block;
                width:24px;
                text-align:left;
                font-size:11px;
                font-weight:700;
              ">
            </span>

          </div>

        </div>
        <!-- SUMCOIN SOUND TOGGLE END -->
        <qrcode size="160" data="{{address.addrStr}}"></qrcode>
      </div>
    </div>

  </div>
  <div data-ng-if="address.addrStr" data-ng-controller="transactionsController" data-ng-init="load('address')">
    <h2 translate>Transactions</h2>
    <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
  </div>
</section>

