<div data-ng-include src="'views/includes/connection.html'"></div>

<section>
  <div class="page-header">
    <h1>Application Status</h1>
  </div>

  <div id="status" class="row">

    <div class="col-xs-12 col-md-8">

      <h2>Sync Status</h2>

      <table class="table"
             data-ng-controller="StatusController"
             data-ng-init="getSync()">
        <tbody>

          <tr>
            <td>Sync Progress</td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-info"
                     role="progressbar"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     aria-valuenow="{{sync.syncPercentage || 0}}"
                     style="width:{{sync.syncPercentage || 0}}%">
                  <span data-ng-show="sync.syncPercentage >= 0">
                    {{sync.syncPercentage || 0}}% Complete
                  </span>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Current Sync Status</td>
            <td class="text-right">
              <span data-ng-show="!sync.error">{{sync.status}}</span>
              <span class="text-danger" data-ng-show="sync.error">
                <span class="glyphicon glyphicon-warning-sign"></span>
                {{sync.error}}
              </span>
            </td>
          </tr>

          <tr>
            <td>Blockchain Height</td>
            <td class="text-right">
              {{sync.blockChainHeight | number:0}}
            </td>
          </tr>

          <tr>
            <td>Sync Type</td>
            <td class="text-right">{{sync.type}}</td>
          </tr>

        </tbody>
      </table>

      <h2>Last Block</h2>

      <table class="table"
             style="table-layout:fixed"
             data-ng-controller="StatusController"
             data-ng-init="getStatus('LastBlockHash')">
        <tbody>
          <tr>
            <td>Last Block Hash (Sumcoin Core)</td>
            <td class="text-right ellipsis">
              <a data-ng-href="{{languagePrefix}}/block/{{lastblockhash}}">
                {{lastblockhash}}
              </a>
            </td>
          </tr>

          <tr>
            <td>Current Blockchain Tip (Explorer)</td>
            <td class="text-right ellipsis">
              <a data-ng-href="{{languagePrefix}}/block/{{syncTipHash}}">
                {{syncTipHash}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-xs-12 col-md-4 col-gray">

      <h2>Sumcoin Core</h2>

      <table class="table"
             data-ng-controller="StatusController"
             data-ng-init="getStatus('Info')">
        <tbody>

          <tr>
            <td>Version</td>
            <td class="text-right">{{info.version}}</td>
          </tr>

          <tr>
            <td>Protocol version</td>
            <td class="text-right">{{info.protocolversion}}</td>
          </tr>

          <tr>
            <td>Blocks</td>
            <td class="text-right">
              <a href="block-index/{{info.blocks}}">
                {{info.blocks | number:0}}
              </a>
            </td>
          </tr>

          <tr>
            <td>Connections</td>
            <td class="text-right">
              {{info.connections !== undefined ? info.connections : 0}}
            </td>
          </tr>

          <tr>
            <td>Mining Difficulty</td>
            <td class="text-right">{{info.difficulty}}</td>
          </tr>

          <tr>
            <td>Network</td>
            <td class="text-right">{{info.network}}</td>
          </tr>

          <tr data-ng-show="info.proxy">
            <td>Proxy</td>
            <td class="text-right">{{info.proxy}}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</section>
