<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('SUM')" data-ng-class="{active: currency.symbol == 'SUM'}">SUM</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mSUM')" data-ng-class="{active: currency.symbol == 'mSUM'}">mSUM</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('sigmas')" data-ng-class="{active: currency.symbol == 'sigmas'}">sigmas</a>
  </li>
</ul>
